@page "/OnlyAdmin"
@using Microsoft.AspNetCore.Authorization
@using OpenPrismNode.Web.Components.Features.Admin
@using OpenPrismNode.Web.Components.Features.User
@attribute [Authorize(Roles = "Admin")]
<h3>Only Admin</h3>
<SyncProgressView />
<StopAndStartSyncService />
<LedgerManager />
<GetWallets/>

@code {
    
}